/* Variables for the colours */
:root {
  /* --clr-primary: #000000;
  --clr-secondary: #a9a9a9;
  --clr-accent: var(--clr-secondary);
  --clr-light: #d3d3d3;
  --clr-white: #ffffff; */

  /* colours for the redesign site */
  --clr-bg-primary: #eff0f3;
  --Clr-bg-secondary: #fffffe;
  --clr-bg-teritary: #f8f5f2;
  --clr-text-primary: #0d0d0d;
  --clr-text-secondary: #2a2a2a;
  --clr-accent-primary: #ff8e3c;

  /* Variables for typography */
  --heading-font: "merriweather", serif;
  --body-font: "Roboto", sans-serif;

  overscroll-behavior: none;
}
/* Apply border box fix */
* {
  box-sizing: border-box;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
  line-height: 1.5rem;
}
/* Remove padding from lists */
ul,
ol {
  padding: 0;
}
/* colourswatch */
.u-colorswatch {
  display: block;
  width: 50%;
  height: 110px;
  text-align: center;
}
/* utility class for fonts */
/* serief family */
.u-ff-serif {
  font-family: var(--heading-font);
}
/* sans family */
.u-ff-sans {
  font-family: var(--body-font);
}
/* margins */
.l-m {
  margin: 1rem; /* 16px margin */
}
.l-mt-1 {
  margin-top: 1rem; /* 16px margin-top */
}
.l-mr-1 {
  margin-right: 1rem; /* 16px margin-right */
}
.l-mb-1 {
  margin-bottom: 1rem; /* 16px margin-bottom */
}
.l-ml-1 {
  margin-left: 1rem; /* 16px margin-left */
}
.l-mx-1 {
  margin: 0 1rem; /* 16px margin-left and margin-right */
}
.l-my-1 {
  margin: 1rem 0; /* 16px margin-top and margin-bottom */
}
/* Padding */
.l-p {
  padding: 1rem; /* 16px padding */
}
.l-pt-1 {
  padding-top: 1rem; /* 16px padding-top */
}
.l-pr-1 {
  padding-right: 1rem; /* 16px padding-right */
}
.l-pb-1 {
  padding-bottom: 1rem; /* 16px padding-bottom */
}
.l-pl-1 {
  padding-left: 1rem; /* 16px padding-left */
}
.l-px-1 {
  padding: 0 1rem; /* 16px padding-left and padding-right */
}
.l-py-1 {
  padding: 1rem 0; /* 16px padding-top and padding-bottom */
}

/* Margin Top */
.l-mt-1-25 {
  margin-top: 1.25rem;
} /* 20px */
.l-mt-1-5 {
  margin-top: 1.5rem;
} /* 24px */
.l-mt-2 {
  margin-top: 2rem;
} /* 32px */
.l-mt-2-25 {
  margin-top: 2.25rem;
} /* 36px */
.l-mt-2-5 {
  margin-top: 2.5rem;
} /* 40px */

/* Margin Right */
.l-mr-1-25 {
  margin-right: 1.25rem;
} /* 20px */
.l-mr-1-5 {
  margin-right: 1.5rem;
} /* 24px */
.l-mr-2 {
  margin-right: 2rem;
} /* 32px */
.l-mr-2-25 {
  margin-right: 2.25rem;
} /* 36px */
.l-mr-2-5 {
  margin-right: 2.5rem;
} /* 40px */

/* Margin Bottom */
.l-mb-1-25 {
  margin-bottom: 1.25rem;
} /* 20px */
.l-mb-1-5 {
  margin-bottom: 1.5rem;
} /* 24px */
.l-mb-2 {
  margin-bottom: 2rem;
} /* 32px */
.l-mb-2-25 {
  margin-bottom: 2.25rem;
} /* 36px */
.l-mb-2-5 {
  margin-bottom: 2.5rem;
} /* 40px */

/* Margin Left */
.l-ml-1-25 {
  margin-left: 1.25rem;
} /* 20px */
.l-ml-1-5 {
  margin-left: 1.5rem;
} /* 24px */
.l-ml-2 {
  margin-left: 2rem;
} /* 32px */
.l-ml-2-25 {
  margin-left: 2.25rem;
} /* 36px */
.l-ml-2-5 {
  margin-left: 2.5rem;
} /* 40px */

/* Margin Left & Right */
.l-mx-1-25 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
} /* 20px */
.l-mx-1-5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
} /* 24px */
.l-mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
} /* 32px */
.l-mx-2-25 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
} /* 36px */
.l-mx-2-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
} /* 40px */

/* Margin Top & Bottom */
.l-my-1-25 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
} /* 20px */
.l-my-1-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
} /* 24px */
.l-my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
} /* 32px */
.l-my-2-25 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
} /* 36px */
.l-my-2-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
} /* 40px */

/* Padding Left */
.l-pl-1-25 {
  padding-left: 1.25rem;
} /* 20px */
.l-pl-1-5 {
  padding-left: 1.5rem;
} /* 24px */
.l-pl-2 {
  padding-left: 2rem;
} /* 32px */
.l-pl-2-25 {
  padding-left: 2.25rem;
} /* 36px */
.l-pl-2-5 {
  padding-left: 2.5rem;
} /* 40px */

/* Padding Right */
.l-pr-1-25 {
  padding-right: 1.25rem;
} /* 20px */
.l-pr-1-5 {
  padding-right: 1.5rem;
} /* 24px */
.l-pr-2 {
  padding-right: 2rem;
} /* 32px */
.l-pr-2-25 {
  padding-right: 2.25rem;
} /* 36px */
.l-pr-2-5 {
  padding-right: 2.5rem;
} /* 40px */

/* Padding Top */
.l-pt-1-25 {
  padding-top: 1.25rem;
} /* 20px */
.l-pt-1-5 {
  padding-top: 1.5rem;
} /* 24px */
.l-pt-2 {
  padding-top: 2rem;
} /* 32px */
.l-pt-2-25 {
  padding-top: 2.25rem;
} /* 36px */
.l-pt-2-5 {
  padding-top: 2.5rem;
} /* 40px */

/* Padding Bottom */
.l-pb-1-25 {
  padding-bottom: 1.25rem;
} /* 20px */
.l-pb-1-5 {
  padding-bottom: 1.5rem;
} /* 24px */
.l-pb-2 {
  padding-bottom: 2rem;
} /* 32px */
.l-pb-2-25 {
  padding-bottom: 2.25rem;
} /* 36px */
.l-pb-2-5 {
  padding-bottom: 2.5rem;
} /* 40px */

/* Padding Left & Right */
.l-px-1-25 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
} /* 20px */
.l-px-1-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
} /* 24px */
.l-px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
} /* 32px */
.l-px-2-25 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
} /* 36px */
.l-px-2-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
} /* 40px */

/* Padding Top & Bottom */
.l-py-1-25 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
} /* 20px */
.l-py-1-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
} /* 24px */
.l-py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
} /* 32px */
.l-py-2-25 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
} /* 36px */
.l-py-2-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
} /* 40px */

/* Base layout classes */
.l-flex {
  display: flex;
}

.l-flex-column {
  flex-direction: column;
}
.l-flex-row {
  flex-direction: row;
}

.l-flex-wrap {
  flex-wrap: wrap;
}

.l-justify-center {
  justify-content: center;
}

.l-align-items-center {
  align-items: center;
}

/* Grid classes */
.l-grid {
  display: grid;
}

.l-grid-columns {
  grid-template-columns: repeat(3, 1fr);
}

.l-grid-rows {
  grid-template-rows: auto;
}

.l-gap {
  gap: 16px;
}

.l-justify-items-center {
  justify-items: center;
}

.l-align-content-center {
  align-content: center;
}

/* Container for mobile */
.c-container {
  max-width: 100%;
  margin: 0 auto; /* Center align */
  padding: 20px;
}
/* max-width for mobile screen */
.c-container-max-mob {
  max-width: 600px;
}
.c-container-full-width {
  width: 100%;
  max-width: none; /* Ensures the container is always full width */
}

/* Define utility classes for font usage */

.u-fs-800 {
  font-size: 2.25rem; /* Example font size */
}

.u-fw-800 {
  font-weight: 800; /* Example font weight */
}

.u-fw-400 {
  font-weight: 400; /* Example font weight */
}

.u-letter-spacing-2 {
  letter-spacing: 2px; /* Example letter spacing */
}

.u-text-accent {
  color: var(--clr-accent-primary); /* Example accent color */
}

.u-text-primary {
  color: var(--clr-text-primary); /* Example primary text color */
}
/* Style navigation bar */
.heading-text {
  /* color: var(--clr-text-primary); */
  color: white;
}

.c-topnav {
  overflow: hidden;
  /* background-color: var(--clr-light); */
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Distribute items evenly */
  background-color: var(--clr-bg-primary);
  position: fixed;
  width: 100%;
  top: 0px; /* Adjusted value */
  z-index: 1000; /* Ensure it's above other content */
}
/* Use flexbox for inner links */
.c-topnav__links {
  display: none;
}
/* Style topnav links */
.c-topnav__link {
  color: var(--clr-text-primary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* active state to indicate which page you are on */
.is-active {
  background-color: var(--clr-bg-primary);
  /* Change background color to indicate active state */
  color: var(
    --clr-accent-primary
  ); /* Change text color to improve readability */
}

/* set color to the hover state of topnav links */
.c-topnav__link:hover {
  color: var(--clr-accent-primary);
}
/* Styles for the hamburger icon */
.c-hamburger {
  display: block;
  cursor: pointer;
}
/* Styles for the cancel icon */
.c-cancel {
  display: block;
  cursor: pointer;
}

/* Style the header */
.c-header {
  text-align: center;
}

/* home.html */
.c-hero {
  background-image: url(images/hero.jpg);
  width: 100%;
  background-size: cover;
  height: 300px;
  margin-top: 50px;
  display: flex;
  /* line-height: 3px; */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center; /* Center text within the container */
}

.c-hero__heading {
  margin-bottom: 20px;
  line-height: 35px;
  display: block; /* Ensure heading takes full width */
}

.c-hero__button {
  display: block; /* Ensure button takes full width */
  background-color: var(--clr-accent-primary); /* Example button color */
  color: var(--clr-text-primary); /* Example button text color */
  text-decoration: none;
  border-radius: 4px; /* Example border radius */
  padding: 10px 20px; /* Adjust padding for button */
}
.c-hero__button:hover {
  background-color: var(--clr-text-primary);
  color: var(--Clr-bg-secondary);
}

/* Announcement section */
.c-announcement {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.c-announcement__p {
  margin: 0;
}

.c-highlight-text {
  position: relative;
  display: inline-block;
  animation: highlight 2s ease-in-out infinite alternate;
}

.c-highlight-text__important {
  color: var(
    --clr-accent-primary
  ); /* Change this color as per your preference */
}

@keyframes highlight {
  0% {
    transform: scale(1);
    font-size: 20px;
  }
  100% {
    transform: scale(1.1);
    font-size: 20px;
  }
}

/* Styles for the best-selling section */
#best-sellers {
  background-color: var(--clr-bg-primary);
  margin-top: 0px;
}
.best-sellers {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
}

.c-card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.c-card-container__card {
  flex-basis: calc(33.33% - 20px);
  /* Adjust as needed */
  /* margin: 20px; */
}

.c-card-container__card img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1); /* Adjust shadow properties as needed */
}
.c-card-container__btn {
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  width: 30%;
  text-align: center;
  background-color: var(--clr-accent-primary);
  border-radius: 5px;
  /* padding: 10px 20px;
  margin: 20px; */
}
.c-card-container__btn:hover {
  background-color: var(--Clr-bg-secondary);
}

/* Services */
.c-service {
  padding: 20px;
  background-color: var(--clr-bg-teritary);
}

.c-service__service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-bottom: 20px;
}

.icon img {
  width: 100px;
  height: auto;
  border-radius: 30%;
}

.c-service__form {
  background-color: var(--clr-bg-primary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.c-service__form--form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.c-service__form--btn {
  background-color: var(--clr-accent-primary);
  color: var(--Clr-bg-secondary);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.c-service__form--btn:hover {
  background-color: var(--clr-text-primary);
}
.c-service__btn {
  text-decoration: none;
  display: grid;
  justify-content: center;
  width: 20%;
  text-align: center;
  align-items: center;
  background-color: var(--clr-accent-primary);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px;
}

/* FAQ Section */
.c-faq-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px; /* Equal space from left and right */
}

.c-faq-container__heading {
  padding: 20px 0; /* Add some padding at the top and bottom */
}

h2 {
  text-align: center;
  color: #333;
}

.question {
  margin-bottom: 20px;
}

.question h3 {
  color: var(--clr-text-primary);
  margin-bottom: 5px;
}

.question p {
  color: var(--clr-text-secondary);
}

/* Toggle Icon */
.question h3::after {
  content: "\f078"; /* FontAwesome icon code for plus sign */
  font-family: "Font Awesome 5 Free";
  float: right;
  font-weight: bold;
}

.question.active h3::after {
  content: "\f077"; /* FontAwesome icon code for minus sign */
}

/* Hide Answer by Default */
.question p {
  display: none;
}

/* Show Answer When Question is Active */
.question.active p {
  display: block;
}

/* About section */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px; /* Equal space from left and right */
}

.about {
  background-color: var(--clr-bg-primary);
  padding: 50px 0;
}

.about-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-image {
  order: -1;
  flex: 1;
  margin-right: 20px;
}

.about-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 7px;
}

.about-description {
  flex: 1;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

p {
  color: #666;
  line-height: 1.6;
}

.about-content__btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--clr-accent-primary);
  color: #fff;
  text-decoration: none;
  align-self: center;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.about-content__btn:hover {
  background-color: var(--clr-text-primary);
}

/* Testimonial */

.testimonials {
  width: 80%;
  margin: auto;
  /* position: relative; */
  overflow: hidden;
  text-align: center;
  height: 500px;
  line-height: 2px;
}
/* .testimonial-heading{
  line-height: 5px;
} */

.testimonial-slide {
  display: none;
}

.testimonial-slide img {
  width: 100px;
  border-radius: 50%;
}

.testimonial-slide p {
  font-style: italic;
}

.pagination {
  text-align: center;
  margin: 10px 10px;
}

.pagination button {
  background-color: #bbb;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 0 2px;
  border-radius: 50%;
}

.pagination button.active {
  background-color: var(--clr-accent-primary);
}

/* Footer */
.map-section {
  order: 3; /* Ensure map section is last by default */
}
.c-footer {
  background-color: var(--clr-text-primary);
  color: var(--Clr-bg-secondary);
  text-align: center;
  padding: 20px 0px;
  padding-bottom: 10px;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  /* margin-bottom: 20px; */
}

.c-footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-footer-content__footer-section {
  color: var(--Clr-bg-secondary);
  flex: 1 1 200px;
  margin: 0 20px;
  /* padding-bottom: 20px; */
}

.c-footer-content__footer-section h3 {
  margin-bottom: 10px;
}
.c-footer-content__footer-section p {
  color: var(--Clr-bg-secondary);
}
.map-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer-section__btn {
  background-color: var(--clr-accent-primary);
  color: var(--clr-bg-primary);
  border: 2px solid #333;
  padding: 8px 16px;
  border-radius: 5px;
  /* font-size: 16px; */
  cursor: pointer;
}

.footer-section__btn:hover {
  background-color: var(--Clr-bg-secondary);
  color: var(--clr-text-primary);
}

/* Media query for desktop sizes */
@media (min-width: 768px) {
  .c-container {
    padding: 0 30px;
  }

  .c-container-max-desktop {
    max-width: 1140px;
  }
  .c-hamburger {
    display: none !important; /* Hide hamburger icon on larger screens */
  }
  .c-cancel {
    display: none !important;
  }

  /* Show top nav links on larger screens */
  .c-topnav__links {
    display: flex !important;
    gap: 20px;
    margin: 5px;
    text-decoration: none;
    color: var(--clr-text-primary);
  }
  .c-topnav__links:hover {
    color: var(--clr-accent-primary);
  }
  .c-hero {
    background-image: url(images/hero.jpg);
    width: 100%;
    margin-top: 60px;
    background-size: cover;
    height: 800px;
    opacity: 0.9;
  }
  .c-hero__button {
    width: 10%;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .c-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .c-card-container__card {
    flex-basis: 20%;

    /* gap: 25px; */
  }
  .c-card-container__card img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1); /* Adjust shadow properties as needed */
  }
  .c-card-container__btn {
    text-align: center;
    display: block;
    color: var(--clr-text-primary);
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 5px;
    width: 19%;
  }
  /* FAQ */

  /* About */

  .about-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .about-image {
    flex-basis: 40%;
    margin-right: 20px;
  }

  .about-description {
    flex-basis: 50%;
  }

  /* Footer */
  .c-footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .c-footer-content__footer-section {
    flex: 1 1 20%; /* Adjust the width as needed */
    margin-bottom: 0;
  }

  .map-section {
    order: -1; /* Make map section come first */
  }

  .testimonials {
    width: 80%;
    margin: auto;
    /* position: relative; */
    overflow: hidden;
    text-align: center;
    height: 320px;
  }
  /* Service */
  .c-service__service-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .icon {
    margin-right: 20px;
  }

  .c-service__form {
    width: 27%;
    margin-right: 20px;
  }

  .c-service__form h2 {
    margin-top: 0;
  }

  .c-service__form ol {
    list-style-type: decimal;
  }

  .c-service__btn {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
}
