/* Variables for the colours */
:root {
  --clr-primary: #000000;
  --clr-secondary: #a9a9a9;
  --clr-accent: var(--clr-secondary);
  --clr-light: #d3d3d3;
  --clr-white: #ffffff;

  /* colours for the redesign site */
  --clr-bg-primary: #eff0f3;
  --Clr-bg-secondary: #fffffe;
  --clr-text-primary: #0d0d0d;
  --clr-text-secondary: #2a2a2a;
  --clr-accent-primary: #ff8e3c;

  /* Variables for typography */
  --heading-font: "Playfair Display", serif;
  --body-font: "Inter", sans-serif;
  /* --heading-font-size: 2.5rem;
    --body-font-size: 1rem;
    --heading-font-weight: 700;
    --body-font-weight: 400;
    --heading-line-height: 1.2;
    --body-line-height: 1.5;
    --heading-letter-spacing: 0.05em;
    --body-letter-spacing: 0; */
}
/* Apply border box fix */
* {
  box-sizing: border-box;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
/* Remove padding from lists */
ul,
ol {
  padding: 0;
}
/* colourswatch */
.u-colorswatch {
  display: block;
  width: 50%;
  height: 110px;
  text-align: center;
}