/* Variables for the colours */
:root {
  --clr-primary: #000000;
  --clr-secondary: #a9a9a9;
  --clr-accent: var(--clr-secondary);
  --clr-light: #d3d3d3;
  --clr-white: #ffffff;

  /* colours for the redesign site */
  --clr-bg-primary: #eff0f3;
  --Clr-bg-secondary: #fffffe;
  --clr-text-primary: #0d0d0d;
  --clr-text-secondary: #2a2a2a;
  --clr-accent-primary: #ff8e3c;

  /* Variables for typography */
  --heading-font: "merriweather", serif;
  --body-font: "Roboto", sans-serif;

  overscroll-behavior: none;
}
/* Apply border box fix */
* {
  box-sizing: border-box;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
  line-height: 1.5rem;
}
/* Remove padding from lists */
ul,
ol {
  padding: 0;
}
/* colourswatch */
.u-colorswatch {
  display: block;
  width: 50%;
  height: 110px;
  text-align: center;
}
/* utility class for fonts */
/* serief family */
.u-ff-serif {
  font-family: var(--heading-font);
}
/* sans family */
.u-ff-sans {
  font-family: var(--body-font);
}
/* margins */
.l-m {
  margin: 1rem; /* 16px margin */
}
.l-mt-1 {
  margin-top: 1rem; /* 16px margin-top */
}
.l-mr-1 {
  margin-right: 1rem; /* 16px margin-right */
}
.l-mb-1 {
  margin-bottom: 1rem; /* 16px margin-bottom */
}
.l-ml-1 {
  margin-left: 1rem; /* 16px margin-left */
}
.l-mx-1 {
  margin: 0 1rem; /* 16px margin-left and margin-right */
}
.l-my-1 {
  margin: 1rem 0; /* 16px margin-top and margin-bottom */
}
/* Padding */
.l-p {
  padding: 1rem; /* 16px padding */
}
.l-pt-1 {
  padding-top: 1rem; /* 16px padding-top */
}
.l-pr-1 {
  padding-right: 1rem; /* 16px padding-right */
}
.l-pb-1 {
  padding-bottom: 1rem; /* 16px padding-bottom */
}
.l-pl-1 {
  padding-left: 1rem; /* 16px padding-left */
}
.l-px-1 {
  padding: 0 1rem; /* 16px padding-left and padding-right */
}
.l-py-1 {
  padding: 1rem 0; /* 16px padding-top and padding-bottom */
}

/* Base layout classes */
.l-flex {
  display: flex;
}
.l-grid {
  display: grid;
}
/* Container for mobile */
.c-container {
  max-width: 100%;
  margin: 0 auto; /* Center align */
  padding: 20px; 
}
/* max-width for mobile screen */
.c-container-max-mob
{
  max-width: 600px;
}
.c-container-full-width {
  width: 100%;
  max-width: none; /* Ensures the container is always full width */
}

/* Media query for desktop sizes */
@media (min-width: 768px) { 
  .c-container {
      
      padding: 0 30px;
  }

  .c-container-max-desktop {
      max-width: 1140px; 
  } 
}
